*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
header{
    height: 50px;
    width: 100%;
    background-color: #f65209;
    position: fixed;
    z-index: 1;
    top: 0;
}
.pagemargin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
}
ul li{
    display: inline-block;
    margin-right: 8px;
}
.pagemargin figure img{
    height: 25px;
    display: block;
}
.icons figure{
    display: inline-block;
    margin-left: 8px;   
}
body{
    margin-top: 40px;
}
main{
    display: flex;
    width: 80%;
    margin: 40px auto;
    flex-wrap: wrap;
    gap: 15px;
}
main > div{
    flex-basis: calc(33.65% - 15px);

}
main div figure img{
    width: 100%;
}
.item{
    position: relative;
    margin-top: 40px;
}
.heart{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 4px 6px;
    background-color: white;
}
.info{
    position: absolute;
    bottom: 90px;
    color: white;
}
.info span {
    padding: 2px 6px;
}
.sales{
    background-color: #f40008;
}
.sus{
    background-color: #1d7001;
}
.item :last-child :first-child{
    font-weight: lighter;
}
.newprice{
    color: #f40008;
    font-weight: bold;
}
.oldprice{
    text-decoration: line-through;
    font-weight: lighter;
}
footer{
    height: 80px;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
footer h5{
    margin-bottom: 10px;
}
footer .pagemargin :first-child li a{
    font-size: 12px;
}
footer .pagemargin :last-child h5 {
    text-align: center;
}